.gallery img{
        width: 100%;
    
}
    #menu{
      width:100%;
      height:40px;
      background-color: mediumaquamarine;
      padding-top: 12px;
}

#menu a{
      color:hotpink;
      font-family:Franklin Gothic Medium;
      font-size: 18px;
      text-decoration:none;
      font-weight: 800px;
      
      padding-left: 20px;
      padding-right: 20px;
}

#menu a:hover{
       color: #5077bd;
    
    
    
    
    
    
    
    
 }
